$base-color: #EB5160;

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.signup-text, .login-text{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
}

.login, .signup {
    background-color: $base-color;
    position: absolute;
    width: 400px;
    height: 500px;
    top: 10%;
    left: 50%;
    border-radius: 6px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    form {
        height: max-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        input,
        button {
            border-radius: 6px;
            border: none;
            background-color: transparent;
            width: 80%;
            font-size: 17px;
            color: white;
            outline: none;
            &::placeholder {
                color: white;
            }
            border: 1px solid white;
            margin-top: 10px;
        }

        input{
            text-indent: 6%;
            padding: 10px 0;
            &:focus::placeholder {
                color: transparent;
            }
        }

        button {
            width: 30%;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
        }

        .question {
            width: 80%;
            margin-top: 3%;
            display: block;
            color: white;
            font-weight: 300;
        }

        .error-output {
            height: 30px;
            margin-top: 5%;
            font-size: 15px;
            color: white;
            font-weight: bold;
            margin-bottom: 10%;
            width: 80%;
        }
    }
}