.error404 {
    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
        text-decoration: none;
    }

    width: 100%;
    height: 100vh;
    text-align: center;

    .number {
        font-size: 13rem;
        margin-top: 5rem;
    }

    .text {
        font-size: 2rem;
    }

    .question {
        margin-top: 3rem;

        span {
            color: #EB5160;
            font-weight: bolder;
        }
    }
}