$base-color: #1A1A1A;
$secondary-color: #00A82D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;

    .left {
        width: 20%;
        height: 100%;
        background-color: $base-color;
        color: white;
        display: flex;
        flex-direction: column;

        .welcome-message {
            font-size: 2rem;
            font-weight: 300;
            height: max-content;
            width: 100%;
            text-align: center;

            span {
                font-weight: 800;
            }
        }

        .new-note {
            width: 80%;
            background-color: $secondary-color;
            border: none;
            border-radius: 30px;
            height: max-content;
            color: white;
            cursor: pointer;
            align-self: center;
            padding: 2% 0;
            font-size: 1rem;
            margin-top: 5%;
        }

        .note-names {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: scroll;

            .header {
                text-align: center;
                padding: 4% 0;
                font-size: 1.5rem;
            }
            overflow: hidden;
            .names-scroll {
                height: 100%;
                width: 100%;
                align-self: center;
                text-align: center;
                overflow: scroll;

                .noteTitleDiv {
                    display: flex;
                    color: white;
                    width: 100%; 
                    margin: 5% 0%;
                    height: 5%;
                    border: none;
                    outline: none;
                    position: relative;

                    .title {
                        border: none;
                        outline: none;
                        font-size: 1.1rem;
                        cursor: pointer;
                        width: 100%;
                        background-color: transparent;
                        color: white;
                    }

                    .fa-trash {
                        position: absolute;
                        height: max-content;
                        width: max-content;
                        border: none;
                        outline: none;
                        display: flex;
                        color: white;
                        right: 5%;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1rem;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            color: red;
                        }
                        
                    }

                    &:hover {
                        background-color: #333333;
                    }
                }
            }
        }

        .sign-out {
            text-align: center;
            margin-top: auto;
            width: 100%;
            padding: 3% 0;
            cursor: pointer;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    .right {
        width: 80%;
        height: 100%;
        display: flex;

        .no-notes {
            width: 100%;
            height: 100%;
            font-size: 4rem;
            padding-top: 10%;

            p {
                text-align: center;
            }
        }

        .note {
            width: 100%;
            height: 100%;
            .note-title {
                width: 100%;
                height: 10%;
                font-size: 3rem;
                padding: 1% 2%;
                border: none;
                outline: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.556);
            }

            .note-body {
                resize: none;
                width: 100%;
                height: 88%;
                padding: 1% 2%;
                border: none;
                outline: none;
            }
        }
    }

}